<header class = "navbar navbar-fixed-top">
  <div class = "container">
    <div class = "navbar-brand">
      <i class="fa fa-twitter"></i>
      <%= link_to "Fake Twitter", root_path %></div>
    <nav>
      <ul class = "nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
         <% if logged_in? %>
           <li><%=link_to "All Users", index_path %></li>
           <li><%= link_to 'Log Out', sign_out_path, method: :delete %><li>
      </ul>
    </nav>

         <% else %>
           <li><%= link_to "Log In", sign_in_path %>
           </nav>
         <% end %>
         </ul>
     </header>
   </div>
