<!DOCTYPE html>
<html>
<head>
  <title>TwitterClone</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


  <% if @current_user %>

     <div>
       <%= link_to 'Log Out', sign_out_path, method: :delete %>
     </div>
     <div>Hello <%= @current_user.first_name%></div>
<% end %>
<% flash.each do |type, content| %>
    <% if content.respond_to?('each')
        content.each do |item| %>
            <%= render 'layouts/alert',
                type: type,
                content: item %>
        <% end %>
    <% else %>
        <%= render 'layouts/alert',
                type: type,
                content: content %>
    <% end %>

<% end %>



<%= yield %>

</body>
</html>
